* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  padding: 0;
}

.row {
  width: 90%;
}


.item1 {
  float: right;
  padding: 11px;
  width: 101px;
  border: 2px solid black;
  margin: 0px;
  background-color: #D8BFD8;
  font-weight: bold;
  font-size: 130%;
  text-align: center;
}

h1 {
  margin: 101px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 180%;
}

.item2 {
  float: right;
  padding: 11px;
  width: 101px;
  border: 2px solid black;
  margin: 0px;
  background-color: #00008B;
  font-weight: bold;
  font-size: 130%;
  color: white;
  text-align: center;
}

.item3 {
  float: right;
  padding: 11px;
  width: 101px;
  border: 2px solid black;
  margin: 0px;
  background-color: #FED8B1;
  font-weight: bold;
  font-size: 130%;
  color: black;
  text-align: center;
}

.content {
  overflow: auto;
  padding: 11px;
  background-color: #90EE90;
  border: none;
  font-weight: bold;
  margin: 0px;
  color: solid black;
  font-family: Helvetica;
  height: 211px;
}

section {
  width: 100%;
  position: relative;
  padding: 20px;
}

p {
  clear: right;
  position: relative;
}

div {
  margin-left: auto;
  background-color: #90EE90;
  position: relative;
  margin-right: auto;
  width: 100%;
  border: 4px solid black;
  margin-bottom: auto;
}

/*For Mobile Devices*/
@media (max-width: 767px) {
  .colmn-sm-12 {
      width: 100%;
      float: left;
    }
}
/*For iPad or Tablet Devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .colmn-md-6 {
    margin-right: auto;
      width: 50%;
      float: left;
      margin-left: auto;
    }

  .colmn-md-12 {
    margin-right: auto;
      width: 100%;
      float: left;
      margin-left: auto;
      
    }
}



/*For Desktop Devices*/
@media (min-width: 992px) {
  .column-lg-4 {
      width: 33.33%;
      float: left;
    }
}

